#container {
	background: #FFFFFF; 
	width: 1210px;
	height: auto;	
	margin-right: auto;
	margin-left: auto;
	vertical-align: center;
}
#title {
	background-image: url("assets/backgrounds/h_img.jpg");
	background-size: cover;
	height: 800px;
	width: 1190px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
}

#aboutus{
	height: 400px;
	width: 1190px;
	margin-right: auto;
	margin-left: auto;
	background: #FFFFFF;
	text-align: center;
	padding-top: 5%;

}
p{
	text-align: center;
	color: solid black;
}
#services{
	height: 600px;
	width: 1190px;
	margin-right: auto;
	margin-left: auto;
	background: #3528E7;

}
#wedo{
	height: 600px;
	width: 1190px;
	margin-right: auto;
	margin-left: auto;
	background: #28D7E7;

}
#portfolio{
	height: 600px;
	width: 1190px;
	margin-right: auto;
	margin-left: auto;
	background: #28E748;

}
#contactus{
	height: 600px;
	width: 1190px;
	margin-right: auto;
	margin-left: auto;
	background: #C4E728;

}
footer{
	margin-right: auto;
	margin-left: auto;
	width: 1190px;
	height:20px;
	background: solid black;
	margin-bottom: auto;
}